<%- include('partials/header') -%>
<div class="ui main container">
  <div class="ui card">
    <div class="content">
      <div class="header">
        <%= item.movie.title %>
      </div>
      <div class="meta">
        <span class="date">Created in <%= item.movie.year %></span>
      </div>
    </div>
    <div class="extra content">
      <form
        id="change_list"
        action="/movies/<%= item._id %>?_method=PUT"
        method="POST"
      >
        <input
          type="hidden"
          name="movie[title]"
          value="<%= item.movie.title %>"
        />
        <input
          type="hidden"
          name="movie[year]"
          value="<%= item.movie.year %>"
        />
        <div class="ui mini two buttons">
          <% if(item.watchType == 2 || item.watchType == 3){ %>
          <button
            class="ui basic red button"
            name="watchType"
            value="1"
            type="submit"
          >
            Move in To watch
          </button>
          <% } %> <% if(item.watchType == 1 || item.watchType == 3) { %>
          <button
            id="move_to_watching"
            class="ui basic yellow button"
            name="watchType"
            value="2"
            type="submit"
          >
            Move in watching
          </button>
          <% } %> <% if(item.watchType == 1 || item.watchType == 2){ %>
          <button
            id="move_to_watched"
            class="ui basic green button"
            name="watchType"
            value="3"
            type="submit"
          >
            Move in watched
          </button>
          <% } %>
        </div>
      </form>
    </div>
  </div>
  <div class="ui buttons">
    <a class="ui blue button" href="/movies/<%= item._id %>/edit">Edit</a>
    <form action="/movies/<%= item._id %>?_method=DELETE" method="POST">
      <input class="ui red button" type="submit" value="Delete" />
    </form>
  </div>
</div>
<%- include('partials/footer') -%>
